@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #333333;
}

body {
  background: #f9fafd;
}

.main {
  position: relative;
  background: #fff;
  height: 300px;
}

.main-content {
  margin-top: 40px;
}

.main-content .logo img {
  vertical-align: middle;
}

.main-content .logo span {
  font-size: 28px;
  font-weight: 700;
  padding: 20px 10px;
  vertical-align: middle;
  color: #212121;
}

.palette-wrapper h3 {
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 40px auto;
}

.palette-wrapper .palette-box .color-box .box-wrapper {
  background: #ffff;
  padding: 15px;
  min-height: 180px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 13px 18px -8px rgba(181, 220, 255, 0.56);
          box-shadow: 0px 13px 18px -8px rgba(181, 220, 255, 0.56);
}

.palette-wrapper .palette-box .color-box .box-wrapper .bg-color {
  height: 200px;
  border-radius: 5px;
  position: relative;
}

.palette-wrapper .palette-box .color-box .box-wrapper .bg-color .copy-hex {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.407);
  border-radius: 5px;
}

.palette-wrapper .palette-box .color-box .box-wrapper .bg-color .copy-hex a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  text-align: center;
  height: 100%;
  color: #dadadaa1;
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
}

.palette-wrapper .palette-box .color-box .box-wrapper .bg-color .copy-hex a span {
  background: #00000043;
  padding: 10px 20px;
  border-radius: 30px;
  color: #dadadaa1;
}

.palette-wrapper .palette-box .color-box .box-wrapper .bg-color:hover .copy-hex {
  visibility: visible;
  -webkit-transition-delay: ease-in 0.6s;
          transition-delay: ease-in 0.6s;
}

.palette-wrapper .palette-box .color-box .box-wrapper .palette-1 {
  background: #dc7633;
}

.palette-wrapper .palette-box .color-box .box-wrapper .palette-2 {
  background: #452073;
}

.palette-wrapper .palette-box .color-box .box-wrapper .palette-3 {
  background: #18b0b0;
}

.palette-wrapper .palette-box .color-box .box-wrapper .palette-4 {
  background: #dee3e2;
}

.palette-wrapper .palette-box .color-box .box-wrapper span.color-code {
  display: block;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 15px;
}

.action-button {
  margin-top: 30px;
}

.action-button .btn {
  vertical-align: middle;
}

.action-button .btn i {
  color: #fff;
  vertical-align: middle;
  font-size: 22px;
}
/*# sourceMappingURL=main.css.map */